*, html {
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  background-color: #212121;
  color: #eceff1;
}

input[type=text], input[type=password], textarea{
  border: 2px solid gainsboro;
  -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: #eeeeee;
  margin: 0 0 10px 0;
  color:#000
}

.login-form{
  width: 145px;
  padding-top: 80px;
}

header{
  text-align: center;
  font-size: 40px;
  line-height: 70px;
  height: 70px;
  background: #0097a7;
  color: #fff;
}

h1{
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color:#fff
}

.mass-message-box{
  height:10px;
  width:200px;
  font-weight: 300;
}

.recipients-container{
  width:50%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}